<!DOCTYPE html>
<html>
  <head>
    <title>Listagem de Alunos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listagem dos Alunos</h1>
  
    <table>
      <thead>
          <tr>
              <th>Nomexxxx______________________________________</th>
              <th>Numero   </th>
              <th>Turma</th>
          </tr>
      </thead>
      <tbody>
      <h1><%= dadosDosAlunos %>alunos</h1>
      <% for(let item of dadosDosAlunos) { %>
          <tr>
              <td><%=JSON.parse(item.id) %></td>
              <td>aqui<%= item.nome %></td>
              <td><button name: teste><%= item.aluno %></button></td>
              <td>turma..<%= item.tarefa %></td>
              <td>numero..<%= item.data %></td>
              <td>pedida..<%= item.conceito %></td>
          </tr>
      <% } %>
      </tbody>
  </table>

  </body>
</html>
