<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Alunos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listagem dos Alunos</h1>
  
    <table>
      <thead>
          <tr>
              <th>Nome_&nbsp_____________________</th>
              <% for(let tarefa of dadosDasTarefas) { %>
                <th><%= tarefa.dataPedida %></th>
                <th>&nbspconceito&nbsp</th>
                <% } %>
          </tr>
      </thead>
      <tbody>
        <p>listagem 2 <%- dadosGerais %></p>

      <% for(let aluno of dadosDosAlunos) { %>
          <tr>
              <td><%= aluno.nome %></td>
              <% for(let tarefa of dadosDasTarefas) { 
                var idData = "DA" + aluno.id.toString()+"T" + tarefa.id.toString();   
                var idNota = "CA" + aluno.id.toString()+"T" + tarefa.id.toString(); 
              %>
                <td><button class="btBase btAzul" name= "btData" id= "<%= idData %>"><%= idData %></button></td>                                                     
                <td><button class="btBase btLaranja" name= "btNota" id= "<%= idNota %>"><%= idNota %></button></td>                                                     
              <% } %>
          </tr>
      <% } %>

      </tbody>
  </table>

  </body>
</html>
